<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Rayuela Analytics</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%- defineContent('style') %>
</head>
<body>
    <%- include('../partials/header') %>
    <main class="main-content">
        <%- body %>
    </main>
    <%- include('../partials/footer') %>
    <%- defineContent('script') %>
</body>
</html>

